body{
	font-family: Microsoft JhengHei;
}

#banner{
	background-image:url(../images/pyramid1.jpg);
	background-position: center center;
	background-size: cover;
	height:300px;
	margin-top:3.5rem;
}

.title{
	color:#736C49;
	font-weight: bold;
}

.title2{
	color:#262314;
	font-weight: bold;
	margin-top:40px;
}

.details{
	margin-top:40px;
}

#profile{
	width:375px;
	height:480px;
}